[submodule "tmux"]
	path = tmux
	url = https://github.com/markheramis/.tmux.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/markheramis/.zsh.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/markheramis/nvim.git
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/markheramis/wezterm.git
